



body{
    background-color: rgb(230, 229, 205);
    animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.main-content{
    font-size: 18px;
}

h1{
  text-align: center;

}

.info-btn{
  text-decoration: none;
}

.info-btn:hover{
  opacity: 0.7;
}