



body {
  background-color: rgb(201, 211, 195);
  height: 100%;
  animation: fadeIn 0.4s ease-in;

}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}




/********************** Header */



.header{
  width: 100%;
  height: 100px;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  /* outline: 2px solid whitesmoke; */

}

.homebutton{
  background: #8B9D83;
  color: black;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  font-family:'Courier New', Courier, monospace;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  letter-spacing: 0px;
  text-decoration: none;
  text-align: left;
  display: inline-block;
  width: 110px;

  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  z-index: 1000;

}


.opaque-button {
  opacity: 0.3;
  transition: opacity 0.3s ease;
}


/********************** SECTION 1 */

.stack1{
  width: 90%;
  height: 1050px;
  outline: 2px solid white;
  background-color: white;
  padding: 30px;
  margin: 30px;

  align-items: center;
  justify-content: center;
  display: flex;

  text-align: center;
  

}





.image1 {

    /* have image always size correctly */
    max-width: 100%;
    height: auto;
    width: auto\9;
    padding: 5px;


    border: none;

    top: 5%;
    left: 10%;

    /* center */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

    box-shadow: 5px 5px grey;

}

.paypal {

  top: 180px;
  left: 1000px;
  width: 420px;
  height: 1000px;
  background-color: transparent;
  margin: 5px;
  padding: 5px;

  outline: 1px solid black;
  outline-offset: 12px;
  box-shadow:
          5px 5px 10px rgba(0, 0, 0, 0.3),
          10px 10px 20px rgba(0, 0, 0, 0.2);
}

.description1 {
  position: absolute;
  top: 1080px;
  left: 270px;
  width: 600px;
  height: 130px;
  box-shadow: 5px 5px grey;

  margin: 5px;
  padding: 5px;

  outline: 1px solid black;
  font-family: 'Times New Roman', serif;
  font-size: 20px;


}



/********************** SECTION 2 */


.stack2{
  width: 90%;
  height: 850px;
  background-color: rgb(255, 255, 255);
  outline: 2px solid rgb(255, 255, 255);
  margin: 30px;
  padding: 30px;

  text-align: center;


  align-items: center;
  align-content: center;
  justify-content: center;

  overflow: scroll;
  /* remove scroll bar internet exp 10+ & firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.stack2::-webkit-scrollbar { /*remove scroll wheel chrome & safari */
  display: none;
}
