



body {
  background-color: rgb(201, 198, 194);
  height: 100%;

}

.homebutton{
  position: fixed;
  top: 10px;
  left: 10px;

  display: flex;
}





.image1 {
    position: fixed;
    width: 65%;
    height: 75%;
    border: none;

    top: 50px;
    left: 50px;

    /* center */
    display: flex;
    justify-content: center;
    align-items: center;

}