





body {
  background-color: #eef1eb;
  height: 100%;
  animation: fadeIn 0.4s ease-in;

}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/********************** Header */











* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-container {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 40px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1000;
}

.social-wrapper {
  display: flex;
  gap: 10px;
}


.info-btn {
  background: transparent;
  color: blue;
  border: none;
  text-decoration: none;
}

.info-btn:hover {
  opacity: 0.5;
}

.store-btn {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border-width: 0;
  padding: 0 8px 12px;
  min-width: 10em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
}

.store-btn-top{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  padding: 8px 16px;
  transform: translateY(0);
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, .25);
  transition-property: transform;
  transition-duration: .2s;
  -webkit-user-select: none;
  user-select: none;
}

.store-btn:active .store-btn-top {
  transform: translateY(6px);
}

.store-btn-top::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  background-image: radial-gradient(#cd3f64, #9d3656);
  text-align: center;
  color: #fff;
  box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, .2), 0 1px 2px 1px rgba(255, 255, 255, .2);
  transition-property: border-radius, padding, width, transform;
  transition-duration: .2s;
}

.store-btn:active .store-btn-top::after {
  border-radius: 6px;
  padding: 0 2px;
}

.store-btn-bottom{
  position: absolute;
  z-index: -1;
  bottom: 4px;
  left: 4px;
  border-radius: 8px / 16px 16px 8px 8px;
  padding-top: 6px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  box-sizing: content-box;
  background-color: #803;
  background-image: radial-gradient(4px 8px at 4px calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(4px 8px at calc(100% - 4px) calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(16px at -4px 0, white, transparent), radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5), inset 0 -1px 3px 3px rgba(0, 0, 0, .4);
  transition-property: border-radius, padding-top;
  transition-duration: .2s;
}

.store-btn:active .store-btn-bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

.store-btn-base {
  position: absolute;
  z-index: -2;
  top: 4px;
  left: 0;
  border-radius: 12px;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, .15);
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, .75), inset 0 2px 2px rgba(0, 0, 0, .25);
}

.main-btn {
  background: #e2e2e2;
  color: black;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  font-family:'Courier New', Courier, monospace;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  letter-spacing: 0px;
  text-decoration: none;
  text-align: left;
  display: inline-block;
  width: 110px;
}

.main-btn:hover {
  background: #cfcfcf;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.social-buttons {
  display: flex;
  gap: 10px;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.3s ease;
  pointer-events: none;
}

.social-buttons.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

.social-btn {
  width: 50px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: transparent;
  transition: transform 0.3s ease;
}

.social-btn:hover {
  transform: translateY(-2px);
}

.social-btn svg {
  width: 24px;
  height: 24px;
}

.opaque-button {
  opacity: 0.3;
  transition: opacity 0.3s ease;
}






/********************** SECTION 1 */





.stack1{
  width: 100%;
  height: 850px;
  /* outline: 2px solid white; */
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;

  flex-direction: column;
  

}



.title{

  position: absolute;
  top: 6%;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.halfcircle{
  top: 13%;
  position: absolute;
  width: 750px;
  height: 350px;
  background-color: transparent;
  border-top-left-radius: 350px;
  border-top-right-radius: 350px;
}






.N1{ 
  transform: translate(163px, 190px) rotate(-67deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 31%;
  right: 83%;
  position: absolute;*/

  text-align: left;
  display: inline-block;
}

.A1{ 
  transform: translate(117px, 134px) rotate(-55deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 27%;
  right: 79%;
  position: absolute;*/

  text-align: left;
  display: inline-block;
}

.T1{ 
  transform: translate(78px, 94px) rotate(-47deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 24%;
  right: 74%;
  position: absolute;*/

  text-align: left;
  display: inline-block;
}

.U1{
  transform: translate(48px, 59px) rotate(-37deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 24%;
  right: 74%;
  position: absolute;*/

  text-align: left;
  display: inline-block;

}

.R1{ 
  transform: translate(21px, 24px) rotate(-31deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 20%;
  right: 67%;
  position: absolute;*/

  text-align: left;
  display: inline-block;
}

.A2{ 
  transform: translate(6px, -4px) rotate(-19deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 17%;
  right: 64%;
  position: absolute;*/

  text-align: left;
  display: inline-block;
}

.L1{ 
  transform: translate(-2px, -20px) rotate(-7deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 16%;
  right: 59%;
  position: absolute;*/

  text-align: left;
  display: inline-block;
}

.space1{ 
  transform: translate(0px, -30px) rotate(0deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/
  color: transparent;

  text-align: left;
  display: inline-block; 
}

.R2{
  transform: translate(-2px, -20px) rotate(5deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/

  text-align: left;
  display: inline-block; 
}

.E1{ 
  transform: translate(-8px, -8px) rotate(15deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/

  text-align: left;
  display: inline-block; 
}

.M1{ 
  transform: translate(-19px, 15px) rotate(22deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/

  text-align: left;
  display: inline-block; 
}

.E2{ 
  transform: translate(-34px, 48px) rotate(33deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/

  text-align: left;
  display: inline-block; 
}

.D1{ 
  transform: translate(-58px, 87px) rotate(42deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/

  text-align: left;
  display: inline-block; 
}

.I1{ 
  transform: translate(-87px, 122px) rotate(53deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/

  text-align: left;
  display: inline-block; 
}

.E3{ 
  transform: translate(-119px, 160px) rotate(60deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/

  text-align: left;
  display: inline-block; 
}

.S1{ 
  transform: translate(-162px, 207px) rotate(69deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/

  text-align: left;
  display: inline-block; 
}




.description{

  font-size: 2.3rem;
  font-family: 'Lora', serif;
  position: absolute;
  top: 27%;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  white-space: nowrap;
  text-overflow: ellipsis;
  

  display: inline-block;
  text-align: left;


}



#searchbar {
  position: relative;
  top: -6%;
  padding: 10px;
  margin: 5px;
  z-index: 100;
  outline: none;
  background-color: transparent;
  width: 500px;

  text-align: center;

}

.notification{
  position: relative;
  font-family: Terminal, 'Courier New', monospace;
  font-size: 16px;
  color: black;
  align-self: center;
  top: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 5px;
  margin-left: 250px;
  margin-right: 250px;
}










/********************** SECTION 2 */


.stack2{
  width: 100%;
  height: 2500px;
  /* outline: 2px solid rgb(255, 255, 255); */
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: center;

  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;

  overflow: scroll;
  /* remove scroll bar internet exp 10+ & firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.stack2::-webkit-scrollbar { /*remove scroll wheel chrome & safari */
  display: none;
}


#title{
  font-size: 30px;
}


.collapsible {
  background-color: #ece8e8;
  color: rgb(109, 109, 109);
  cursor: pointer;
  padding: 18px;
  width: calc(95% - 150px);
  border: none;
  text-align: left;
  outline: 1px solid black;
  font-size: 24px;
  margin-left: 150px;
  margin-right: 150px;
}

.collapsible div {
  margin-left: 60px;
}

.active, .collapsible:hover {
  background-color: #cfcfcf;
}

.content {
  padding: 3px 3px 0 3px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  background-color:#eef1eb;
  opacity: 0;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 4px;
  width: calc(95% - 150px);
}

.content div {
  padding: 5px 2px;
  padding-top: 10px;
  color: black;
  font-size: 22px;
  text-align: left;
  margin-left: 100px;
}

.collapsible.active + .content {
  opacity: 1;
}
