





body {
  background-color: rgb(201, 211, 195);
  height: 100%;
  animation: fadeIn 0.4s ease-in;

}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/********************** Header */











* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-container {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1000;
}

.social-wrapper {
  display: flex;
  gap: 10px;
}


.info-btn {
  background: transparent;
  color: blue;
  border: none;
  text-decoration: none;
}

.info-btn:hover {
  opacity: 0.5;
}

.main-btn {
  background: #8B9D83;
  color: black;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  font-family:'Courier New', Courier, monospace;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  letter-spacing: 0px;
  text-decoration: none;
  text-align: left;
  display: inline-block;
  width: 110px;
}

.main-btn:hover {
  background: #deecd7;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.social-buttons {
  display: flex;
  gap: 10px;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.3s ease;
  pointer-events: none;
}

.social-buttons.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

.social-btn {
  width: 50px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: transparent;
  transition: transform 0.3s ease;
}

.social-btn:hover {
  transform: translateY(-2px);
}

.social-btn svg {
  width: 24px;
  height: 24px;
}

.opaque-button {
  opacity: 0.3;
  transition: opacity 0.3s ease;
}






/********************** SECTION 1 */





.stack1{
  width: 100%;
  height: 850px;
  /* outline: 2px solid white; */
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;

  flex-direction: column;
  

}



.title{

  position: absolute;
  top: 6%;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.halfcircle{
  top: 13%;
  position: absolute;
  width: 750px;
  height: 350px;
  background-color: transparent;
  border-top-left-radius: 350px;
  border-top-right-radius: 350px;
}






.N1{ 
  transform: translate(163px, 190px) rotate(-67deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 31%;
  right: 83%;
  position: absolute;*/

  text-align: left;
  display: inline-block;
}

.A1{ 
  transform: translate(117px, 134px) rotate(-55deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 27%;
  right: 79%;
  position: absolute;*/

  text-align: left;
  display: inline-block;
}

.T1{ 
  transform: translate(78px, 94px) rotate(-47deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 24%;
  right: 74%;
  position: absolute;*/

  text-align: left;
  display: inline-block;
}

.U1{
  transform: translate(48px, 59px) rotate(-37deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 24%;
  right: 74%;
  position: absolute;*/

  text-align: left;
  display: inline-block;

}

.R1{ 
  transform: translate(21px, 24px) rotate(-31deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 20%;
  right: 67%;
  position: absolute;*/

  text-align: left;
  display: inline-block;
}

.A2{ 
  transform: translate(6px, -4px) rotate(-19deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 17%;
  right: 64%;
  position: absolute;*/

  text-align: left;
  display: inline-block;
}

.L1{ 
  transform: translate(-2px, -20px) rotate(-7deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 16%;
  right: 59%;
  position: absolute;*/

  text-align: left;
  display: inline-block;
}

.space1{ 
  transform: translate(0px, -30px) rotate(0deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/
  color: transparent;

  text-align: left;
  display: inline-block; 
}

.R2{
  transform: translate(-2px, -20px) rotate(5deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/

  text-align: left;
  display: inline-block; 
}

.E1{ 
  transform: translate(-8px, -8px) rotate(15deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/

  text-align: left;
  display: inline-block; 
}

.M1{ 
  transform: translate(-19px, 15px) rotate(22deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/

  text-align: left;
  display: inline-block; 
}

.E2{ 
  transform: translate(-34px, 48px) rotate(33deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/

  text-align: left;
  display: inline-block; 
}

.D1{ 
  transform: translate(-58px, 87px) rotate(42deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/

  text-align: left;
  display: inline-block; 
}

.I1{ 
  transform: translate(-87px, 122px) rotate(53deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/

  text-align: left;
  display: inline-block; 
}

.E3{ 
  transform: translate(-119px, 160px) rotate(60deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/

  text-align: left;
  display: inline-block; 
}

.S1{ 
  transform: translate(-162px, 207px) rotate(69deg);
  font-size: 4.5rem;
  font-family: 'Lora', serif;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  /*top: 8%;
  right: 90%;
  position: absolute;*/

  text-align: left;
  display: inline-block; 
}




.description{

  font-size: 2.3rem;
  font-family: 'Lora', serif;
  position: absolute;
  top: 27%;
  padding: 5px;
  margin: 5px;
  z-index: 100;

  white-space: nowrap;
  text-overflow: ellipsis;
  

  display: inline-block;
  text-align: left;


}



#searchbar {
  position: relative;
  top: -6%;
  padding: 10px;
  margin: 5px;
  z-index: 100;
  outline: none;
  background-color: transparent;
  width: 500px;

  text-align: center;

}

.notification{
  position: relative;
  font-size: 20px;
  color: black;
  align-self: center;
  top: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 5px;
  margin: 5px;
}










/********************** SECTION 2 */


.stack2{
  width: 100%;
  height: 2500px;
  /* outline: 2px solid rgb(255, 255, 255); */
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: center;

  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;

  overflow: scroll;
  /* remove scroll bar internet exp 10+ & firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.stack2::-webkit-scrollbar { /*remove scroll wheel chrome & safari */
  display: none;
}


#title{
  font-size: 30px;
}


.collapsible {
  background-color: #dbc38a;
  color: rgb(109, 109, 109);
  cursor: pointer;
  padding: 18px;
  width: 95%;
  border: none;
  text-align: left;
  outline: 1px solid black;
  font-size: 24px;
  margin: 3px;
}

.active, .collapsible:hover {
  background-color: #cfcfcf;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  background-color:rgb(201, 211, 195);
  opacity: 0;
}

.content div {
  padding: 5px 2px;
  color: black;
  font-size: 22px;
  text-align: left;
  margin-left: 60px;
}

.collapsible.active + .content {
  opacity: 1;
}
